h1,h2,h3,h4,h5,h6 {font-weight:normal;}  
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*阻止旋转屏幕时自动调整字体大小*/  
html,body{background:#f0f0f0;color:#505050;font-size:62.5%;-webkit-user-select:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-touch-callout:none;}  
ul,li{
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
}
html{
	font-family: Helvetica;
	font-size: 62.5%;
	color: #333;
}
*{
	margin: 0;
	padding: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
#header{
	position: relative;
	text-align: center;
	height: 60px;
	line-height: 60px; 
	font-size: 2.2rem;
	color: #fff;
	background: #000;
}
#header .left{
	position: absolute;	
	left: 0;
	top: 0;
}
html{
	font-family: Helvetica;
	font-size: 62.5%;
	color: #333;
}
*{
	margin: 0;
	padding: 0;
}
#header{
	text-align: center;
	height: 45px;
	line-height: 45px;
	font-size: 1.8rem;
	color: #fff;
	background: #000;
}
#header .left{
	float: left;
}
/*footer*/

#footer{
	padding: 4px 0;
	width: 100%;
	height: 65px;
	background: #fff;
	position: fixed;
	bottom: 0;
}
/*#footer p{
	text-align: center;
	height: 30px;
	width: 30px;
}*/
#footer span{
	height: 34px;
	width: 34px;
	display: inline-block;
}
#footer img{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
#footer>ul{
	display: flex;
}
#footer>ul li{
	font-size: 1.8rem;
	text-align: center;
	flex: 1;
}
#footer>ul li a{
	display: block;
}
#footer .acive{
	color: red;
}
/*list-公用样式*/
.menu-ul{	
	margin-top: 1rem;
	background: #fff;
}
.menu-ul>li{
	font-size: 1.9rem;
	height: 4.4rem;
	line-height: 4.4rem;
	border-bottom: 1px solid #ededed;
}
.menu-ul>li>a{
	position: relative;
	display: block;
	vertical-align: middle;
}
.menu-ul>li>a span{	
	line-height: 4rem;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 3px;
	display: block;
	padding: 1rem 0;
	background: url('../images/arrow_right.png') no-repeat center;
	width: 1.8rem;
	height: 1.8rem;
}
.menu-ul>li:last-child{
	border: none;
}
.b-c{
	color: #ec453e;	
}
/* 媒体查询，大于480px
@media (max-width: 680px){
	html{
		font-size: 64%;
	}
}

媒体查询，小于360px
@media (max-width: 360px) {
	html{
		font-size: 55%;
	}
}*/
/* 媒体查询，小于360px */
 @media (max-width: 480px) {
	#footer{		
		width: 100%;
		height: 50px;
		background: #fff;
		position: fixed;
		bottom: 0;
	}
	#footer span{
		height: 25px;
		width: 25px;
	}
}
/* 媒体查询，小于360px */
 @media (max-width: 360px) {
 	html{
 		font-size: 56%;
 	}
	#footer{		
		width: 100%;
		height: 46px;
		background: #fff;
		position: fixed;
		bottom: 0;
	}
	#footer span{
		height: 22px;
		width: 22px;
	}
}




/*底部按钮 #footer-bar*/
#footer-bar{
	width: 100%;
	position: fixed;
	bottom: 0; 
	display: flex;
	background: #fff;
	display: -webkit-box;
    display: -webkit-flex;
}
#footer-bar:before{
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
/*	box-shadow: 0px -1px 1px rgba(0,0,0,0.05);*/
	border-top: 1px solid #c0bfc4;
	-webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
#footer-bar span img{
	width: 27px;
	height: 27px;
}
#footer-bar p{
	text-align: center;
    color: #999;
    font-size: 10px;
    line-height: 1.8;
}
.footer-bar-item{
	flex: 1;
	padding: 5px 0 0;
	font-size: 0;
    color: #999999;
    text-align: center;
}