/*index start*/
.user .infor{
	margin-top: 2rem;
}
.main-content {
	color: #fff;
	height: 23.5rem;
	background: url('../images/home_bg.png');
	background-size: cover;
}
.main-content .user-info{
	font-size: 2.7rem;
	padding: 2rem 0 3rem 0;
	text-align: center;
}
.main-content .user-lever{ 
	font-size: 14px;
	color: #fff;
	background: #D0B269;
	border-radius: .5rem;
	padding: 2px ;
}
.user-money{
	font-size: 2.2rem;
	margin: .5rem 0 5rem 0;
	display: flex;
}
.user-money li{
	flex: 1;
	text-align: center;
}
.user-money .title{
	margin-bottom: 1.65rem;
}
.main-content .tips{
	line-height: 4.2rem;
	height: 4.2rem;
	color: #fff;
}
.index-abtou .menu-ul{
	padding: 0 1%;
}
.register-explain{
	background:   url('../images/home_icon_register.png') no-repeat left center;
	background-size: 2.4rem 2.4rem ;
	padding-left: 2.8rem;
}
.money-explain{
	background:   url('../images/home_icon_crj.png') no-repeat left center;
	background-size: 2.4rem 2.4rem ;
	padding-left: 2.8rem;
}
.news{
	font-size: 1.7rem;
	margin-bottom: 2rem;
	height: 3.2rem;
	line-height: 3.2rem;
	background: #fff;
	text-indent: 1.8rem;
}
.index-abtou{
	background: #fff;
}
.index-abtou li{
	border-bottom: 1px solid #ededed;
}
.index-abtou li:last-child{
	border: none;
}
/*CDK兑换*/
.tips{
	padding: 0 .8rem;
	line-height: 3rem;
	font-size: 1.6rem;
	color: #333;
}
.text-input{
	border: none;
	width: 100%;
	line-height: 3rem;
	height: 3rem;
}
.btn{
	font-size: 2.2rem;
	text-align: center;
	display: block;
	width: 80%;
	margin: 2rem 10%;
	color: #fff;
	background: #EC453D;
	height: 4rem;
	line-height: 4rem;
}
/*my-key*/
.menu-ul{
	padding: 1%;
}
.financial-control-ct .menu-ul li{
	background:   url('../images/home_icon_register.png') no-repeat left center;
	background-size: 2.4rem 2.4rem ;
	padding-left: 2.8rem;
}
.my-key-ct{
	display: flex;	
}
.my-key-ct>li{
	color: #666;
	font-size: 2rem;
	height: 2.6rem;
	line-height: 2.6rem;
	text-align: center;
	flex: 1;	
	background: #fff;
}
.key-list>li{
	width: 96%;
	margin: 1rem 2%;
	background: #fff;
	border-radius: 1rem;
	overflow: hidden;
}
.key-list>li a{	
	display: block;
	height: 120px;
	border: 1px solid #ccc;
	border-radius: 1rem;
}
.key-list>li .info{
	padding: 0 1%;
	color: #fff;
	font-size: 1.8rem;
	height: 2rem;
	background: #D2B361;
}
.key-list>li .num{	
	height: 8rem ;
	line-height: 8rem;
	padding:  0 1%;
}
.key-list>li .key-num{
	font-size: 2.2rem;
	vertical-align: middle;
}
.key-list>li .copy{
	vertical-align: middle;
	font-size: 1.6rem;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid red;
	color: red;
}
/*注册说明*/
.login-explain-ct,.news-explain-ct{
	padding: 2rem 2%;
	text-indent: 3.2rem;
	font-size: 1.6rem;
	line-height: 1.5;
}
.news-explain-ct .title,.news-explain-ct .date{
	text-align: center;
}
.news-explain-ct .date{
	color: #999;
	font-size: 1.5rem;
	padding: 1.7rem 0 1.8rem 0;
}