/*index start*/
.user .infor{
	margin-top: 2rem;
}
.main-content {
	background: #ccc;
	height: 30rem;
}
.main-content .user-info{
	font-size: 1.6rem;
	padding-top: 1rem;
	text-align: center;
}
.main-content .user-lever{
	color: #fff;
	background: #D0B269;
	border-radius: .5rem;
	padding: .2rem .1rem;
}
.user-money{
	margin: .5rem 0;
	display: flex;
}
.user-money li{
	flex: 1;
	text-align: center;
}
.news{
	font-size: 1.6rem;
	margin-bottom: 2rem;
	height: 2rem;
	line-height: 2rem;
	background: #fff;
	text-indent: 1.8rem;
}
.index-abtou{
	background: #fff;
}
.index-abtou li{
	border-bottom: 1px solid #ddd;
}
.index-abtou li:last-child{
	border: none;
}
/*CDK兑换*/
.tips{
	padding: 0 .8rem;
	line-height: 3rem;
	font-size: 1.6rem;
	color: #333;
}
.text-input{
	border: none;
	width: 100%;
	line-height: 3rem;
	height: 3rem;
}
.btn{
	font-size: 2.2rem;
	text-align: center;
	display: block;
	width: 80%;
	margin: 2rem 10%;
	color: #fff;
	background: #EC453D;
	height: 4rem;
	line-height: 4rem;
}
/*my-key*/
.my-key-ct{
	display: flex;	
}
.my-key-ct>li{
	color: #666;
	font-size: 2rem;
	height: 2.6rem;
	line-height: 2.6rem;
	text-align: center;
	flex: 1;	
	background: #fff;
}
.key-list>li{
	width: 96%;
	margin: 0 2%;
	background: #fff;
}
.key-list>li a{	
	display: block;
	height: 120px;
	border: 1px solid #ccc;
}