/*index start*/
.user .infor{
	margin-top: 2rem;
}
.main-content {
	color: #fff;
	background: url('../images/home_bg.png');
	background-size: cover;
}
.main-content .user-info{
	font-size: 2.4rem;
	padding: 2rem 0 2.6rem 0;
	text-align: center;
}
.main-content .user-lever{ 
	font-size: 14px;
	color: #fff;
	background: #D0B269;
	border-radius: .5rem;
	padding: 2px ;
}
.user-money{
	font-size: 2.1rem;
	margin: .5rem 0 5rem 0;
	display: flex;
	align-items: center;
}
.user-money .title{
	font-size: 1.9rem;
}
.user-money li{
	flex: 1;
	text-align: center;
	border-right: 1px solid #57585d;
}
.user-money li .tx-btn{
	border-radius: 20px;
	background: #ec453e;
	color: #fff;
	width: 58%;
	padding: 2% 0;
	display: block;
	margin: 0 auto;
}
.user-money li:last-child{	
	border-right: none;
}
.user-money .title{
	margin-bottom: 1.65rem;
}
.main-content .tips{
	line-height: 4.2rem;
	height: 4.2rem;
	color: #fff;	
}
.main-content .tips .xf-btn{
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 1.8rem;
	color: #ec453e;
	border: 1px solid #ec453d;
	float: right;
	margin-top: 1rem;
	border-radius: 5px;
	padding: 0 1rem;
}
.index-abtou .menu-ul{
	padding: 0 1.2rem;
}
.register-explain{
	background:   url('../images/home_icon_register.png') no-repeat left center;
	background-size: 2.4rem 2.4rem ;
	padding-left: 2.8rem;
}
.money-explain{
	background:   url('../images/home_icon_crj.png') no-repeat left center;
	background-size: 2.4rem 2.4rem ;
	padding-left: 2.8rem;
}
.news{
	font-size: 1.8rem;
	margin-bottom: 2rem;
	height: 3.4rem;
	line-height: 3.4rem;
	background: #fff;
	padding: 0 1.2rem;
}
.news li a{
	display: block;
	background:   url('../images/home_icon_notice.png') no-repeat left center;
	background-size: 1.8rem 1.8rem ;
	padding-left: 2.8rem;
}
.index-abtou{
	background: #fff;
}
.index-abtou li{
	border-bottom: 1px solid #ededed;
	
}
.index-abtou li:last-child{
	border: none;
}
.index-tips .text{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	flex:1;
}
.xf-box{
	float: right;
	display: flex;
	align-items: center;
}
.xf-btn{	
	
	color: #ec453e;
	border-radius: 5px;
	border: 1px solid #ec453e;
	line-height: 1.5rem;
	display: inline-block;
	vertical-align: middle;
	padding: 0.1rem 0.6rem;
}

/*CDK兑换*/
.index-tips{	
	padding: 0 .8rem;
	line-height: 3.2rem;
	font-size: 1.6rem;
	color: #fff;
	display: flex;
	justify-content:center;
	position: relative;
}
.index-tips:before{
	content: '';
	display: block;
	height: 1px;
	width: 96%;
	background: #48494d;
	position: absolute;
	top: 0;
	left: 1.6%;
	margin:  0 auto;

}
.text-input{
	border: none;
	width: 100%;
	line-height: 4.2rem;
	height: 4.2rem;
	font-size: 16px;
	color: #333;
}
.btn{
	font-size: 2.2rem;
	text-align: center;
	display: block;
	width: 80%;
	margin: 2rem 10%;
	color: #fff;
	background: #EC453e;
	height: 4rem;
	line-height: 4rem;
}
/*我的cdk my-key*/
.menu-ul{
	padding: 0 1.2rem;
}
.financial-control-ct .menu-ul li{
	background:   url('../images/home_icon_register.png') no-repeat left center;
	background-size: 2.6rem 2.6rem ;
	padding-left: 3.4rem;
}
.my-key-ct{
	display: flex;	
}
.my-key-ct>li{
	color: #666;
	font-size: 2rem;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	flex: 1;	
	background: #fff;

}
.my-key-ct>li p{
	height: 3.2rem;
}
.my-key-ct>li p.active{
	color: #ec453e;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	border-bottom: 0.3rem solid #ec453e;
}
.key-list>li{
	width: 96%;
	margin: 1.5rem 2%;
	background: #fff;
	border-radius: 1rem;
	overflow: hidden;
}
.key-list>li a{	
	display: block;
	height: 120px;
	border: 1px solid #ccc;
	border-radius: 1rem;
}
.key-list>li .info{	
	color: #fff;
	font-size: 1.8rem;
	height: 2.4rem;
	line-height: 2.4rem;
	background: #D2B361;
	padding: 0 0.5rem;
}
.key-list>li .num{
	padding:  1.8rem 1rem;
}
.key-list>li .key-num{
	font-size: 2rem;	 
}
.key-list>li .copy{
	float: right;
	font-size: 1.6rem;
	border-radius: 5px;
	border: 1px solid red;
	color: red;
	padding: 3px 6px;
}
.key-list>li .use-date{
	padding-top: 2px;
	font-size: 14px;
}
.key-list-off li .info{
	background: #b2b2b2;	
}
.key-list-off li .num{
	color: #b2b2b2;
}


/*注册说明*/
.login-explain-ct,.news-explain-ct{
	padding: 2rem 2%;
	text-indent: 3.2rem;
	font-size: 1.6rem;
	line-height: 1.5;
}
.news-explain-ct .title,.news-explain-ct .date{
	text-align: center;
	text-indent: 0;
}
.news-explain-ct .date{
	color: #999;
	font-size: 1.5rem;
	padding: 1.7rem 0 1.8rem 0;
}
.login-tips{
	text-align: center;
	margin-top: 1.5rem;
	font-size: 14px;
}
.login-tips a{
	color: #ec453e;
}
/*exchange-key-ct 提现金额 CDK*/
.exchange-key-ct .tips{
	color: #999;
	line-height: 3.8rem;
	height: 3.8rem;
	font-size: 14px;
	padding: 0 1rem;
}
.exchange-key-ct input{
	box-sizing: border-box;
	padding: 0 1rem;
}
.exchange-tip{
	text-align: center;
	font-size: 14px;
	margin-top: 1.1rem;
	color: #999;
}
.exchange-tip span{
	color: #ec453e;
}
/*重置密码*/

.repassword-ct>ul li{
	width: 100%;
	margin-top: 1rem;
	position: relative;
	box-sizing: border-box;
}
.repassword-ct>ul li div{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.8rem;
	line-height: 4.4rem;
	width: 8.6rem;
	padding-left: 1.8rem;
}
.repassword-ct>ul li span{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.8rem;
	line-height: 4.4rem;
	width: 8.6rem;
	padding-left: 1.8rem;
	font-size: 1.4rem;
}
.repassword-ct>ul li p{
	width: 100%;
	height: 4.4rem;
	background: #fff;
	padding: 0 .2rem .2rem .2rem;
}
.repassword-ct>ul li input{
	height: 4.4rem;
	line-height: 4.4rem;
	width: 100%;
	border:none;
	font-size: 1.8rem;
	padding-left: 9.2rem;
	box-sizing: border-box;
	color: #666;
}
.btn-ct {
	margin-top: 2rem;
	text-align: center;
}
.btn-ct button,.btn-ct>a{
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	color: #fff;
	background: #ec453e;
	width: 90%;
	border: none;
	border-radius: 1rem;
	font-size: 1.8rem;
}
/*用户中心*/
.my-home-ct{
	margin: 1rem 0;
	background: #fff;
	padding: 0 2%;
}
.my-home-ct li{
	height: 3.5rem;
	line-height: 3.5rem;
	font-size: 16px;
	color: #333;
}
.base-info>.title{
	height: 3.6rem;
	line-height: 3.6rem;
	font-size: 1.8rem;	
	background: url('../images/mine_icon_jbxx.png') no-repeat center left;
	background-size: 2rem 2rem;
	padding-left: 2.3rem;
	border-bottom: 1px solid #ddd;
}
.my-home-ct  span.title{
	display: inline-block;
	color: #999;
	width: 10rem;	
}	
.my-home-ct .a-go-edit{
	color: #ec453e;
	font-size: 16px;
	float: right;
}
.repassword-list{
	padding: 0 4%;
	background: #fff ;
	margin-top: 1rem;
	line-height: 4.4rem;
	font-size: 16px;
}
.repassword-list>.ct{
	padding: 0 0 0 2.2rem;
	background: url('../images/mine_icon_pwd.png') no-repeat center left; 
	background-size: 2rem 2rem;
}
.repassword-a{
	color: #999;
	float: right;
	background: url('../images/arrow_right.png') no-repeat center right; 
	background-size: 2rem 2rem;
	padding-right: 2.3rem;
}
.btn-ct .quit-btn{
	background: #fff;
	color: #ec453e;
}
/*找回密码*/
.password-phone .phone-title{
	padding: 1rem 1rem 0 1rem;
	font-size: 16px;
}
/*市场管理*/
.bazaar-ct{
	margin-top: 1rem;
	background: #fff;
	padding: 0 1rem;
}

.bazaar-ct>ul>li{
	display: flex;
	padding: .5rem 0 ;
	border-bottom: 1px solid #ddd;
}
.bazaar-ct>ul>li:last-child{
	border: none;
}
.bazaar-ct>ul>li .img-ct{
	width: 40px;
	
	
}
.bazaar-ct>ul>li .img-ct .img{
	width: 100%;
	height:  100%;
	background: url('../images/mine_icon_jbxx.png') no-repeat center left;
	background-size: 3rem 3rem;
	
}
/*.bazaar-ct>ul>li .img img{
	width: 30px;
	height: 30px;
}*/
.bazaar-ct>ul>li .info{
	flex: 1;

}
.bazaar-ct>ul>li .info .user-name{
	font-size: 2.2rem;
	line-height: 2.4rem;
}
.bazaar-ct>ul>li .more{
	display: flex;
	font-size: 1.4rem;
	line-height: 1.5;
}
.bazaar-ct>ul>li .more li{
	flex: 1;
	font-size: 14px;
	color: #999;
}
/*新闻列表页*/
.news-list-ct{
	margin-top: 1rem;
}
.news-list-ct li{
	background: #fff;
	border-bottom: 1px solid #ddd;	
	padding: 0.6rem 2rem;
	line-height: 1.6;
}
.news-list-ct li p{
	font-size: 12px;
	line-height: 1.8;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap; 

}
.news-list-ct li a{
	display: block;
	color: #999;
}
.news-list-ct li .title{
	font-size: 16px;
	color: #333;
}
.news-list-ct li .date{
	float: right;
}
/*兑换记录 key-recode-ct*/
.key-recode-ct{
	margin-top: 1rem;
	background: #fff;
	font-size: 1.6rem;
}
.key-recode-ct li{
	padding: 0.5rem 0.8rem;
	display: flex;
	align-items:center;
	line-height: 1.5;
	border-bottom: 1px solid #ddd;
}
.key-recode-ct .info{
	flex: 1;
}
.key-recode-ct .info .title{
	font-size: 16px;
	color: #333;
	line-height: 2;
}
.key-recode-ct .info .date{
	font-size: 12px;
	color: #999;
}
.key-recode-ct .status{
	text-align: center;
	width: 10rem;
	font-size: 15px;
	color: #ec453e;	font-size: 15px;
}

/*list 背景*/
.financial-control-ct .menu-ul li.my-cdk{
	background: url('../images/finance_icon_jhm.png') no-repeat left center;
	background-size: 2.6rem 2.6rem;
    padding-left: 3.4rem; 
}
.financial-control-ct .menu-ul li.my-cdk-code{
	background: url('../images/finance_icon_dhjl.png') no-repeat left center;
	background-size: 2.6rem 2.6rem;
    padding-left: 3.4rem; 
}
.financial-control-ct .menu-ul li.money-tq{
	background: url('../images/finance_icon_jjtx.png') no-repeat left center;
	background-size: 2.6rem 2.6rem;
    padding-left: 3.4rem; 
}
.financial-control-ct .menu-ul li.money-tq-code{
	background: url('../images/finance_icon_txjl.png') no-repeat left center;
	background-size: 2.6rem 2.6rem;
    padding-left: 3.4rem; 
}
.financial-control-ct .menu-ul li.money-more{
	background: url('../images/finance_icon_jjmx.png') no-repeat left center;
	background-size: 2.6rem 2.6rem;
    padding-left: 3.4rem; 
}
/*用户信息完善 info-change-ct*/
.info-change-ct>ul{
	margin-top: 1rem;
	background: #fff;
	padding: 0 1.5rem;
}
.info-change-ct>ul li{
	height: 4.4rem;
	line-height: 4.4rem;	
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}
.info-change-ct>ul li:last-child{
	border-bottom: none;
}
.info-change-ct>ul>li .lable{
	float: left;
}
.info-change-ct>ul>li .value{
	float: right;
	height: 100%;
}
.info-change-ct>ul>li .input-txt{
	outline: none;
	font-size: 16px;
	border: none;
	display: block;
	height: 100%;
	text-align: right;
}

/*money-recode-ct*/
.money-recode-ct>.title{
	background: #fff;
	font-size: 16px;
	padding: 2rem 1rem;
	text-align: center;
}
.money-recode-ct>.title span{
	color: #ec453e;
	font-size: 22px;
}
.money-recode-ct>.title .tips{
	color: #999;
	margin-top: 2rem;
	font-size: 12px;
}
.money-recode-ct ul{
	margin-top: 1rem;
	background: #fff;
	font-size: 16px;
}
.money-recode-ct ul li{
	padding: 0 1.5rem;
	border-bottom: 1px solid #ddd;
	line-height: 6rem;
}
.money-recode-ct ul li .value{
	font-size: 20px;
<<<<<<< HEAD
	color: #ec453e;
=======
	background: #ec453e;
}
/*登录*/
.login-ct ul li{
	width: 100%;
	margin-top: 1rem;
	position: relative;
	box-sizing: border-box;	
}
.login-ct .login-icon{
	position: absolute;
	top: 0;
	left: 0;	
	text-align: center;
}
.login-ct>ul li input{
	height: 4.4rem;
	line-height: 4.4rem;
	width: 100%;
	border:none;
	font-size: 1.8rem;
	padding-left: 6.2rem;
	box-sizing: border-box;
}
.login-ct .login-icon{
	width: 6.2rem;
	height: 100%;
}
.login-ct .login-icon span{
	display: inline-block;
	line-height: 4.4rem;
	width: 100%;
	height: 100%;
	background: url('../images/finance_icon_dhjl.png') no-repeat center center;
	
}
.login-ct .user-name-icon span{
	background: url('../images/login_icon_phone.png') no-repeat center center;
	background-size: 2rem 2rem;
}
.login-ct .password-icon span{
	background: url('../images/login_icon_pwd.png') no-repeat center center;
	background-size: 2rem 2rem;
}
.login-ct .captcha-icon span{
	background: url('../images/login_icon_yzm.png') no-repeat center center;
	background-size: 2rem 2rem;
}
.a-list{
	padding: 0 2rem;
	margin-top: 1rem;
	font-size: 12px;
	color: #333;
}
.label-checkbox{
	position: absolute;
	right: 2rem;
	top: 0;
	width: 2rem;
	height: 100%;
}
.label-checkbox span{
	display: inline-block;
	line-height: 4.4rem;
	width: 100%;
	height: 100%;
	background: url('../images/input_delate.png') no-repeat center center;
	background-size: 2rem 2rem;
}
.yzm-box{
	width: 100px;
}
.yzm-box img{
	width: 100%;
	height: 100%;
}
.label-checkbox span.yzm{
	width: 100%;
	height: 100%;
	background: #000;
}
/*repassword*/
.repassword-one .title{
	line-height: 4.4rem;
	font-size: 16px;
}