html{
	font-family: Helvetica;
	font-size: 62.5%;
	color: #333;
}
*{
	margin: 0;
	padding: 0;
}
#header{
	position: relative;
	text-align: center;
	height: 45px;
	line-height: 45px;
	font-size: 1.8rem;
	color: #fff;
	background: #000;
}
#header .left{
	position: absolute;	
	left: 0;
}